* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body, .rio {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}

.rio > div {
    width: 100px;
    height: 100px;
    position: absolute;
}

#fazendeiro {
    background-color: rgb(228, 224, 8);
    top: 400px;
    left: 350px;
}

#lobo {
    background-color: rgb(71, 65, 65);
    top:250px;
    left:50px;
    color: white;
}

#ovelha {
    background-color: rgb(213, 226, 226);
    top: 550px;
    left:50px;
}

#alface {
    background-color: rgb(60, 206, 31);
    top:400px;
    left:50px;
}

@keyframes animafazendeiro {
    0% { left: 0px; }
    25% { left: 100%; }
    37.5% { left: 100%; }
    62.5% { left: 0px; }
    75% { left: 0px; }
    100% { left: 100%; }
}