* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body, .rio {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}

.rio {
    display: flex;
    justify-content: space-between;
}

.margem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    background-color: chartreuse;
    width: 200px;
    height: 100vh;
}

#fazendeiro {
    position: absolute;
    background-image: url('./../img/tirangasemfundo.png');
    background-size: cover;
    width: 450px;
    height: 250px;
    top: 400px;
    left: 200px;
}

#lobo {
    width: 100px;
    height: 100px;
    background-color: rgb(71, 65, 65);
    top:250px;
    left:50px;
    color: white;
}

#ovelha {
    width: 100px;
    height: 100px;
    background-color: rgb(213, 226, 226);
    top: 550px;
    left:50px;
}

#alface {
    width: 100px;
    height: 100px;
    background-color: rgb(60, 206, 31);
    top:400px;
    left:50px;
}